<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Registrarse</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="person"></ion-icon> Nombre
      </ion-label>
      <ion-input [(ngModel)]="nombre" placeholder="Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="person"></ion-icon> Apellidos
      </ion-label>
      <ion-input [(ngModel)]="apellidos" placeholder="Apellidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="calendar"></ion-icon> Edad
      </ion-label>
      <ion-input type="number" [(ngModel)]="edad" placeholder="Edad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="call"></ion-icon> Teléfono
      </ion-label>
      <ion-input type="number" [(ngModel)]="telefono" placeholder="Teléfono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="person-circle"></ion-icon> Nombre de Usuario
      </ion-label>
      <ion-input [(ngModel)]="username" placeholder="Nombre de usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="lock-closed"></ion-icon> Contraseña
      </ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="Contraseña"></ion-input>
    </ion-item>
  </ion-list>
  
  <div class="ion-padding">
    <ion-button expand="full" (click)="registrarse()" class="small-oval-button" shape="round">REGISTRARSE</ion-button>
  </div>
  
</ion-content>
