.custom-logout-button {
    background-color: rgba(255, 255, 255, 0.607);/*color de fondo personalizado */
    color: #ffffff;/*color de texto personalizado */
    margin-top: -20px;/* margen personalizado */
    font-size: 8px;/* tamaño personalizado */
    border-radius: 20px;/* borde personalizado */
}