<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Total de Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Día:</ion-label>
      <ion-label>{{ totalDia | currency }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Semana:</ion-label>
      <ion-label>{{ totalSemana | currency }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mes:</ion-label>
      <ion-label>{{ totalMes | currency }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Total de Gastos:</ion-label>
      <ion-label>{{ totalGastos | currency }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
